{% extends 'base.html.twig' %}
{% block c  %}
    <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ asset('affichers') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ asset('afficherMed') }}">Medicaments</a></li>
            </ol>
        </nav>
    </div>
{% endblock %}
{% block title %}
    <div>
        <h4 style="color: #66ae62">List des prix </h4>

    </div>
    <center>


    <div class="card">
        <div class="card-body">
            <table id="tableac" class="table v-middle" >
                <thead>
                <tr class="bg-light">
                    <th class="border-top-0" >id</th>
                    <th class="border-top-0" >Nom Medicament</th>
                    <th class="border-top-0" >Fournisseur</th>
                    <th class="border-top-0" >prix grassiste HT</th>
                    <th class="border-top-0" >prix pharmacie HT</th>
                    <th class="border-top-0" >prix pharmacie TTC</th>>
                    <th class="border-top-0" >prix public TTC</th>
                    <th class="border-top-0" >Type de produit</th>
                    <th class="border-top-0" >Devise</th>
                </tr>
                </thead>
                <tbody>
                {% for x in listmed %}
                    <tr>
                        <td> {{x.id}}</td>
                        <td> {{ x.nomm}}</td>
                        <td> {{ x.fournisseur.nomf}}</td>
                        <td> {{ x.xpgroht|number_format(2, '.', ' ') }}DT</td>
                        <td> {{ x.xppharht|number_format(2, '.', ' ') }}DT</td>
                        <td> {{ x.xprixphattc|number_format(2, '.', ' ') }} DT</td>
                        <td> {{ x.xprixpubttc|number_format(2, '.', ' ') }}DT </td>
                        <td> {{ x.xug}}</td>
                        <td> {{ x.uv}}</td>


                    </tr>
                {% endfor %}</tbody>
            </table></div></div>
{% endblock %}